/* Define @font-face rule for Recoleta-Bold */
@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta-Bold.ttf') format('truetype');
  font-weight: bold;
}

/* Define global variables */
:root {
  /* Colors */
  --green: #214E34;
  --lilac: #A886B9;
  --ivory: #EbE3D6;
  --blue: #105D9E;
  --off-black: #191919;
  --brown: #8c603f;

  /* Font sizes */
  --base-font-size: 16px;
  --body-font-size: var(--base-font-size);
  --heading-1-font-size: calc(var(--base-font-size) * 2);
  --heading-2-font-size: calc(var(--base-font-size) * 1.5);
  --heading-3-font-size: calc(var(--base-font-size) * 1.25);
  --heading-4-font-size: var(--base-font-size);
  --heading-5-font-size: calc(var(--base-font-size) * 0.875);
  --heading-6-font-size: calc(var(--base-font-size) * 0.75);
  --nav-font-size: var(--base-font-size);
  --button-font-size: var(--base-font-size);
}

/* Apply Recoleta-Bold font to specific elements */
h1, h2, h3, h4 {
  font-family: 'Recoleta', sans-serif;
  font-weight: bold;
}

/* Apply global font sizes */
body {
  font-size: var(--body-font-size);
}

h1 {
  font-size: var(--heading-1-font-size);
}

h2 {
  font-size: var(--heading-2-font-size);
}

h3 {
  font-size: var(--heading-3-font-size);
}

h4 {
  font-size: var(--heading-4-font-size);
}

h5 {
  font-size: var(--heading-5-font-size);
}

h6 {
  font-size: var(--heading-6-font-size);
}

nav {
  font-size: var(--nav-font-size);
}

button {
  font-size: var(--button-font-size);
}

/* Additional styles */
body {
  font-family: 'Karla', sans-serif;
  background-color: var(--ivory); /* Use the ivory color variable */
}

.blue {
color: var(--blue)
}

.hero-section {
  background-image: url('assets/images/DSC00505-2.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 150px 0;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Features Section */
.features-section {
  padding: 100px 0;
}

.feature-box {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure both boxes are of equal height */

}

.feature-content {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-box .feature-content {
  flex: 1;
  background-color: var(--green);
  color: var(--ivory);
  border-radius: 10px;
}

.feature-box .feature-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feature-box .feature-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.feature-image {
  flex: 1;
  height: 100%;
  background-image: url('assets/images/DSC00505-2.jpg');
  background-size: cover;
  background-position: center;
  background-position: center;
  border-radius: 10px;
}

.header-text{
  color: var(--blue);
}

.photo-section {
  padding: 100px 0;
}

.photo-box {
  border-radius: 15px;
  overflow: hidden;
}

.photo-box img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

@media (max-width: 768px) {
  .feature-box,
  .feature-image {
    width: 100%;
  }
}